.icons {
    font-size: 3rem;
}
@media screen and (max-width: 600px) {
  .icons {
    font-size: 2rem;
    align-self: center;
  }
}

.socials{
  font-size: 120px;
}
.contact {
  font-size: 2.5rem;
}
@media (max-width: 950px) {
  .socials {
    font-size: 2.7rem !important;
  }
}
